<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @hiring.employee %>
</p>

<p>
  <strong>Store:</strong>
  <%= @hiring.store %>
</p>

<%= link_to 'Edit', edit_hiring_path(@hiring) %> |
<%= link_to 'Back', hirings_path %>
