<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :product_title %>
  </div>

  <div class="field">
    <%= form.label :base_price %>
    <%= form.text_field :base_price, id: :product_base_price %>
  </div>

  <div class="field">
    <%= form.label :base_currency %>
    <%= form.text_field :base_currency, id: :product_base_currency %>
  </div>

  <div class="field">
    <%= form.label :barcode_number %>
    <%= form.text_field :barcode_number, id: :product_barcode_number %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, id: :product_image_url %>
  </div>

  <div class="field">
    <%= form.label :num_to_buy %>
    <%= form.text_field :num_to_buy, id: :product_num_to_buy %>
  </div>

  <div class="field">
    <%= form.label :num_will_get %>
    <%= form.text_field :num_will_get, id: :product_num_will_get %>
  </div>

  <div class="field">
    <%= form.label :bulk_threshold %>
    <%= form.text_field :bulk_threshold, id: :product_bulk_threshold %>
  </div>

  <div class="field">
    <%= form.label :bulk_price %>
    <%= form.text_field :bulk_price, id: :product_bulk_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
