<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Base price:</strong>
  <%= @product.base_price %>
</p>

<p>
  <strong>Base currency:</strong>
  <%= @product.base_currency %>
</p>

<p>
  <strong>Barcode number:</strong>
  <%= @product.barcode_number %>
</p>

<p>
  <strong>Image Url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Num to buy:</strong>
  <%= @product.num_to_buy %>
</p>

<p>
  <strong>Num will get:</strong>
  <%= @product.num_will_get %>
</p>

<p>
  <strong>Bulk threshold:</strong>
  <%= @product.bulk_threshold %>
</p>

<p>
  <strong>Bulk price:</strong>
  <%= @product.bulk_price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
